.navbar{
    box-shadow: 2px 2px 10px gray;
}
.navbar-brand{
    font-size: 25px;
}
#searchButton{
  border: none;
  background: none;

}

#searching input[type=search]{
    width: 300px;

}
#items{
    margin-top:70px;
}